# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# IDEs & editors
.vscode
.idea
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs
*.swp

# Build outputs
[Bb]in/
[Oo]bj/
artifacts/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dist / build outputs
dist/
build/

# Other
*.log
